@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

::selection {
  background-color: #1954ed;
  color: white;
}

body,
html {
  /* background-color: #F9F9F9; */
  background-image: url("https://images.unsplash.com/photo-1700587085877-733fe66eef0e?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") !important;
}